.bg {
  background-image: url("../../assets/bg.jpg");
  position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
  animation: hueRotate 45s linear infinite,
    scaleBg 10s ease-in-out infinite alternate-reverse;
  z-index: -1;
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(-360deg);
  }
}

@keyframes scaleBg {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.1) rotate(3deg);
  }
}
