.bg {
  background-image: url("../../assets/bg.jpg");
  position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
  animation: hueRotate 45s linear infinite;
  z-index: -1;
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(-360deg);
  }
}
