.stake_columns .col1,
.stake_columns .stake_col {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.stake_columns .col2,
.stake_columns .tvl_col {
  width: 40%;
}
.stake_columns .col3,
.stake_columns .rewards_col {
  display: none;
}
.stake_columns .col4,
.stake_columns .apr_col {
  width: 20%;
}

@media (orientation: landscape) and (min-width: 900px) {
  .stake_columns .col1,
  .stake_columns .stake_col,
  .stake_columns .col3,
  .stake_columns .rewards_col {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  .stake_columns .col2,
  .stake_columns .tvl_col {
    width: 25%;
  }
  .stake_columns .col3,
  .stake_columns .rewards_col {
    width: 40%;
  }
  .stake_columns .col4,
  .stake_columns .apr_col {
    width: 15%;
  }

  .stake_wrapped {
    font-size: clamp(0.85rem, calc(5vw - 2.8rem), 1.1rem);
  }
}
